@import "tailwindcss";
*{
   
    background: #1E2442;
}

body {
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }


  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff0000, #0000ff); 
  border-radius: 10px;
  border: 2px solid #ffffff;
  transition: background 0.3s ease;
}

/* عند تمرير الماوس عليه */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #d40000, #00008b);
}
